@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>_BankLayout</title>
</head>
<body>
    <div class="container">
        <p>Bank Layout</p>
        <br />
        <div>
            @RenderBody()
        </div>
    </div>

</body>
</html>
